<div class="card bg-cyan-950 shadow-xl fade-in">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-montserrat text-accent text-lg">{{product().title}}</h2>
    <p>{{product().description | slice : 0:70}}...</p>
    <div class="card-actions justify-end">
      <!-- <button class="btn btn-primary">Buy Now</button> -->
      <a [routerLink]="['/product',product().slug]" class="link link-accent btn btn-primary">
        Ver producto
      </a>
    </div>
  </div>
</div>